.contact-page {
    min-height: fit-content;
    padding-bottom: 150px;
}

.contact-title {
    padding-top: 100px;
}

.contact-icons {
    padding-top: 0px;
    text-align: center;
    font-size: 40px;
    
}

#c-icon:hover {
    opacity: 0.3;
}

#c-icon {
    color: black;
    display: inline-block;
    padding: 15px;
}

path { 
    box-shadow: 2px 2px 15px white;
    border: none;
   
}

.thank-you {
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    font-weight: bold;
}