
body {
    color: white !important;
    letter-spacing: 0.5px;
}

/*! Work */

a.title.item {
    color: white !important;
}

h2 {
    color: white !important;
    text-align: center;
}

.date {
    margin-left: 700px;
}

span.job.title {
    font-style: italic;
}