.work-page {
    padding: 80px 15px 80px 15px;

}

.work-wapper {
    box-shadow: 2px 2px 15px white;
    padding: 20px;
}

.work {
    padding: 10px;
}

h1 {
    font-size: 45px;
}


h1, h3{
    /* color: white !important; */
    text-align: center;
    padding: 30px;
     width: 100%;
    min-width: 300px;
}

.date {
    float: right;
}

span.job.title {
    font-style: italic;
}

.ed-wrapper {
    box-shadow: 2px 2px 15px white;
    padding: 0px;
}

.education {
    padding: 0px 30px 15px 30px;
}

.ed-content {
    margin-top: 30px;
}